
/*DETAIL*/
.comment_img {
        background-color: #326295;
        width: 50px;
        height: 50px;
        line-height: 50px;
        border-radius: 50%;
        text-align: center;
        font-weight: 900;
        font-size: 16px;
        color: #f8f9fa;
    }
    .priorityBadge{
	 	font-weight: bold; 
	   	width: 63px; 
	   	font-size :13px;
	   	height : 25px;
	   	border-radius: 10rem;
	   	padding: 0.20em 0.6em;
	   	line-height: normal;
	   	display: inline-block;
	   	text-align: center;
	    white-space: nowrap;
	    vertical-align: baseline;
	}
	.priorityBadge.urgent{
		color: #fff;
    	background-color: red;
    	font-weight: bold;
	}
	.urgent:after{
		content: "Urgent"
	}
	.priorityBadge.high{
		color: #fff;
    	background-color: #da542e;
    	font-weight: bold;
	}
	.high:after{
		content: "High"
	}
	.priorityBadge.medium{
		color: #fff;
    	background-color: #ffb848;
    	font-weight: bold;
	}
	.medium:after{
		content: "Medium"
	}
	.priorityBadge.low{
		color: #fff;
    	background-color: lightgray;
    	font-weight: bold;
	}
	.low:after{
		content: "Low"
	}