<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link href="resources/css/style.css" rel="stylesheet">
</head>
<body>
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header text-center" style="border-bottom: 0px"></div>
      <div class="modal-body mx-3">
      <div class="text-center">
           <img class="mb-3" src="resources/images/login/tick.png" style="width: 100px">
           <h3 class="mt-3 mb-3">dbsekwjdaa@naver.com</h3>
           <p class="m-0">위 메일 주소로 인증메일이 발송되었습니다.</p>
           <p class="m-0">발송된 메일을 통해 계정을 인증해주세요.</p>
           <button class="btn-lg" style="background-color:#326295;color:#fff; border:1px double #326295;font-weight:bold;margin:30px 0px;">Send Message</button>
       </div>
        <div class="mt-5 text-center">
        	<p class="m-0">본 메일은 발신 전용입니다.<p>
        	<p class="m-0">Copyright ⓒ OWL All Right Reserved <p>
        </div>
      </div>
    </div>
  </div>                                                                                                                                                                                                             
</body>
</html>